# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

vendor/CMakeFiles/
vendor/GLFW/
vendor/glm/
vendor/imgui/
vendor/cmake_install.cmake

build/

.cache/

.vscode/

ninja-build/
